{% extends 'recipe/base.html' %}



{% block title %}Recipe Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Recipe List</h1>
    {% if recipes %}
        <ul class="recipe-list">
            {% for recipe in recipes %}
                <li class="recipe-item">
                    <h2>{{ recipe.title }}</h2>
                    <p>{{ recipe.description }}</p>
                    <p>{{ recipe.ingredients}}</p>
                    <p><strong>Time:</strong> {{ recipe.time_minutes }} minutes</p>
                    <p><strong>Price:</strong> ${{ recipe.price }}</p>

                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image" class="recipe-image">
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes available.</p>
    {% endif %}
    </div>
{% endblock %}
